<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Ζητήματα Δημοτών</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% counties.forEach(function(county) { %>
                <div class="item">
                    <div class="image">
                        <img src="<%= county.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/problems/<%= county._id %>"><%= county.title %>></a>
                        <p><%= county.demos %></p>
                        <div class="meta">
                            <span><%= county.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%= county.body.substring(0, 100) %> ...</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet buttton" href="/problems/<%= county._id %>">
                                Περισσότερα
                                <i class="right chevron"></i>
                            </a>
                        </div>
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui blue button">
                                <i class="thumbs up icon"></i> Θετικές Ψήφοι
                            </div>
                            <a class="ui basic blue left pointing label">
                                1,048
                            </a>
                        </div>
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui red button">
                                <i class="thumbs down icon"></i> Αρνητικές Ψήφοι
                            </div>
                            <a class="ui basic red left pointing label">
                                500
                            </a>
                        </div>
                    </div>
                </div>
           <% }) %>
        </div>
    </div>
    <a href="/problems/new"><button class="ui inverted blue button">Υποβολή Νέου Ζητήματος</button></a>
</div>

<% include ./partials/footer %>